<section id="PresentCard" class="relative h-auto">

  <!-- Glow decorativo -->
  <div class="absolute w-[500px] h-[500px] bg-blue-500 opacity-20 blur-3xl rounded-full top-[-100px] left-[-100px]"></div>
  <div class="absolute w-[400px] h-[400px] bg-indigo-500 opacity-20 blur-3xl rounded-full bottom-[-100px] right-[-100px]"></div>

 <section class="relative h-auto md:h-[85vh] md:mt-10">
  <div class="absolute inset-0 opacity-10 bg-[radial-gradient(circle,_#3b82f6_1px,_transparent_1px)] [background-size:20px_20px]"></div>
    <div class="relative md:h-2/3 h-auto md:w-8/12 w-11/12 mx-auto flex 
              bg-white/5 backdrop-blur-lg border border-white/10 
              rounded-2xl shadow-2xl">

    <div class="flex flex-col justify-center">
      <h2
        class="text-white animate__animated animate__backInLeft 
               text-4xl 
               md:px-10 px-5 md:mt-32 mt-0 py-5"
      >
        {{ helloTitle }}
      </h2>

      <p
        class="text-blue-200 animate__animated animate__backInLeft 
               md:text-4xl text-2xl 
               md:px-10 px-5 md:mt-20 mt-0 pb-5"
      >
        {{ helloSubtitle }}
      </p>
    </div>

    <div class="flex w-1/3 mx-auto my-auto">
      <img 
        src="https://res.cloudinary.com/dcrbdm4i2/image/upload/v1774824137/SamNb_l0qjwz.png" 
        class="animate__animated animate__backInRight w-8/12 
               drop-shadow-[0_0_30px_rgba(59,130,246,0.5)]"
      >
    </div>

  </div>
  <div
    class="animate__animated animate__bounceIn absolute bottom-10 left-1/2 transform -translate-x-1/2 mb-2"
  >
    <app-arrow-down-button class="md:block hidden" [section]="'inicio'" />
  </div>
 </section>

      <div *ngFor="let item of projects" >

      <section
        id="{{ item.idSection }}"
        class="h-screen w-11/12 mx-auto flex items-center justify-center section reveal section1">
  
        <div class="text-center">
            <app-project-card
              [projectNumber]="item.projectNumber"
              [title]="item.title"
              [btnTxt]="item.btnTxt"
              [btnTxt2]="item.btnTxt2"
              [description]="item.description"
              [imgPath]="item.imgPath"
              [link]="item.link"
            />
    
          <app-arrow-down-button [section]="item.sectionRedirect" />
        </div>
  
      </section>
  
    </div>
  

</section>

