<section id="PresentCard" class="h-screen">
  <div class="h-2/3 border w-10/12 mx-auto">
    <div class="">
      <h2
        class="animate__animated animate__backInLeft md:text-8xl xl:text-8xl sm:text-6xl text-4xl px-10 mt-32"
      >
        {{ helloTitle }}
      </h2>
      <p
        class="animate__animated animate__backInLeft md:text-6xl xl:text-6xl sm:text-6xl text-2xl px-10 mt-20"
      >
        {{ helloSubtitle }}
      </p>
    </div>
  </div>
  <!-- Contenido -->
  <div
    class="animate__animated animate__bounceIn absolute bottom-10 left-1/2 transform -translate-x-1/2 mb-2"
  >
    <app-arrow-down-button [section]="'inicio'" />
  </div>
</section>

<div *ngFor="let item of projects">
  <section
    id="{{ item.idSection }}"
    class="h-screen w-11/12 mx-auto flex items-center justify-center"
  >
    <div class="text-center">
      <app-project-card
        [projectNumber]="item.projectNumber"
        [title]="item.title"
        [btnTxt]="item.btnTxt"
        [btnTxt2]="item.btnTxt2"
        [description]="item.description"
        [imgPath]="item.imgPath"
        [link]="item.link"
      />
      <app-arrow-down-button
        
        [section]="item.sectionRedirect"
      />
    </div>
  </section>
</div>
