<section id="PresentCard" class="h-screen">
  <div class="h-2/3 border w-10/12 mx-auto">
    <div
      class=""
    >
      <h2 class="animate__animated animate__backInLeft text-8xl px-10 mt-20">
        {{ helloTitle }}
      </h2>
      <p class="animate__animated animate__backInLeft text-6xl px-10 mt-20">
        {{ helloSubtitle }}
      </p>
    </div>
  </div>
  <!-- Contenido -->
</section>

<section id="inicio" class="h-screen">
  <h2>Inicio</h2>
  <!-- Contenido -->
</section>

<!-- Sección Proyectos -->
<section id="proyectos" class="h-screen">
  <h2>Mis Proyectos</h2>
  <div id="react"></div>
  <div id="react-project"></div>

  <!-- Contenido -->
</section>

<!-- Sección Contacto -->
<section id="contacto" class="h-screen">
  <!-- Contenido -->
  <h2>Contacto</h2>
</section>
