<section class="md:min-h-[90vh] h-auto flex flex-col md:flex-row items-center">

  <!-- Imagen -->
  <div class="w-full md:w-1/2 flex justify-center">
    <img
      class="animate__animated animate__backInLeft 
             md:h-[60vh] h-auto w-10/12 md:w-auto 
             scale-x-[-1]"
      src="https://res.cloudinary.com/dcrbdm4i2/image/upload/v1774824140/SamDefault_igr8a6.png"
      alt=""
    />
  </div>

  <!-- Texto -->
  <div class="w-full md:w-1/2 flex justify-center">
    <div class="mt-10 md:mt-[15vh] w-11/12 md:w-8/12">

      <h1
        class="animate__animated animate__backInRight 
               md:text-4xl text-xl font-bold text-white"
      >
        {{ hello }}
      </h1>

      <p
        class="animate__animated animate__backInRight 
               break-words mt-5 md:text-2xl text-sm text-white"
      >
        {{ descripcion }}
      </p>

    </div>
  </div>

</section>

<!-- Arrow -->
<div class="flex justify-center mt-10">
  <app-arrow-down-button
    class="md:block hidden"
    [section]="'experience'"
  />
</div>

<app-experience id="experience"></app-experience>