<section class="md:flex sm:flex xl:flex col my-10">
    <div class="xl:w-1/2 md:w-1/2 sm:w-1/2 w-full">
        <img class="mx-auto h-[80vh] md:w-auto xl:w-auto w-10/12" src="/Sam.png" alt="">
    </div>
    <div class="xl:w-1/2 md:w-1/2 sm:w-1/2 w-full">
        <div class="xl:mt-[15vh] md:mt-[15vh] mt-[5vh] xl:mx-0 md:mx-0 sm:mx-auto mx-auto xl:w-8/12 md:w-8/12 sm:w-8/12 w-11/12">
            <h1 class="text-4xl font-bold mx-auto">{{hello}}</h1>
        <p class="break-words mt-[3vh] text-2xl">
            {{descripcion}}
        </p>
        </div>
    </div>

</section>